  <div class="terminal-nav">
    <div class="terminal-logo">
      <div class="logo terminal-prompt" style="font-family: Menlo;"><a href="/" class="no-style">Josh</a></div>
    </div>
    <nav class="terminal-menu">
      <ul>
        <li><a class="menu-item {% if page.title == 'Home' %} active {% endif %}" href="/">About Me</a></li>
        <li><a class="menu-item {% if page.title == 'Projects' %} active {% endif %}" href="/projects">Projects</a></li>
        <li><a class="menu-item {% if page.title == 'Notes' %} active {% endif %}" href="/notes">Notes</a></li>
        <li><a class="menu-item {% if page.title == 'Interests' %} active {% endif %}" href="/interests">Interests</a></li>
      </ul>
    </nav>
    </div>
